<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sns">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.ReadActivity"></activity>

        <service
            android:name=".ui.services.GetSelectedTime"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activities.splash.IntroActivity" />
        <activity android:name=".ui.activities.write.WriteActivity"
                  android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activities.register.RegisterActivity" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>